.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App .react-datepicker__day--selected,
.App .react-datepicker__day--in-selecting-range,
.App .react-datepicker__day--in-range,
.App .react-datepicker__month-text--selected,
.App .react-datepicker__month-text--in-selecting-range,
.App .react-datepicker__month-text--in-range,
.App .react-datepicker__quarter-text--selected,
.App .react-datepicker__quarter-text--in-selecting-range,
.App .react-datepicker__quarter-text--in-range,
.App .react-datepicker__year-text--selected,
.App .react-datepicker__year-text--in-selecting-range,
.App .react-datepicker__year-text--in-range {
  background-color: blue;
  color: #fff;
}

.App .react-datepicker__day:hover,
.App .react-datepicker__month-text:hover,
.App .react-datepicker__quarter-text:hover,
.App .react-datepicker__year-text:hover {
  background-color: yellow;
  color: #111;
}
